<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="style.css">
    <title>BoolFlix</title>
  </head>
  <body>

    <div id="app">

      <!-- HEADER -->
      <header>

        <!-- left navigation bar  -->
        <nav class="nav-left">

          <!-- CAN'T ALIGN -->
          <!-- <a href="#" class="logo"> <img src="img/netflix_logo.png" alt="Netflix logo"></a>  -->

          <img src="img/netflix_logo.png" alt="Netflix logo">

          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Tv Shows</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">News & Popular</a></li>
            <li><a href="#">My list</a></li>
          </ul>

        </nav>

        <!-- right navigation bar  -->
        <nav class="nav-right">

          <ul>
            <!-- search input -->
            <li>

              <span><i class="fas fa-search"></i></span>

              <input
              type="text"
              placeholder="Titles, people, genres"
              v-model="userQuery"
              v-on:keyup.enter="searchQuery()"
                >

              <input
              type="button"
              value="Search"
              @click="searchQuery()"
                >

            </li>

            <li> <a href="#"> <i class="fas fa-gift"></i></a> </li>
            <li> <a href="#"> <i class="fas fa-bell"></i></a> </li>
            <li> <a href="#"> <img src="img/avatar_icon.png" alt="User avatar"> </a> </li>
            <li> <a href="#"><i class="fas fa-caret-down"></i></a></li>

          </ul>

        </nav>

      </header>

      <!-- MAIN -->
      <main>

        <!-- SEARCH MOVIE OR SERIES -->
        <section>




        </section>

        <!-- MOVIES FOUND -->
        <section class="all-movies-container">

          <div
            class="movie-container"
            v-for="(match, index) in searchResults"
            >

            <ul>

              <li class="poster-img">
                <img :src="findPoster(index)" alt="">
                <!-- <img :src="findBackDrop(index)" alt=""> -->
              </li>

              <li>Title: {{match.title}}</li>

              <li>{{match.original_name}}</li>
              <li>{{match.original_title}}</li>

              <li>{{match.overview}}</li>

              <li>Language:
                <img :src="findFlag(index)" class="lang-flag"> {{match.original_language}}
              </li>

            </ul>

            <!-- VOTE AVERAGE STARS -->

            <div class="vote-stars">

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=1 ? 'fas fa-star' : 'far fa-star' ">
              </i>

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=2 ? 'fas fa-star' : 'far fa-star' ">
              </i>

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=3 ? 'fas fa-star' : 'far fa-star' ">
              </i>

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=4 ? 'fas fa-star' : 'far fa-star' ">
              </i>

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=5 ? 'fas fa-star' : 'far fa-star' ">
              </i>

            </div>

          </div>

        </section>

      </main>
      <!-- FOOTER -->
      <footer>
      </footer>


    </div>

    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
