<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="style.css">
    <title>BoolFlix</title>
  </head>
  <body>

    <div id="app">

      <!-- HEADER -->
      <header>
        BoolFlix
      </header>

      <!-- MAIN -->
      <main>

        <!-- SEARCH MOVIE -->
        <section>

          <input
          type="text"
          value=""
          placeholder="Search movie"
          v-model="userQuery"
          v-on:keyup.enter="searchBtn()"
            >

          <input
          type="button"
          value="Search"
          @click="searchBtn()"
            >


        </section>
        <!-- MOVIES FOUND -->
        <section>

          <div
            class=""
            v-for="movie in searchResults"
            >

            <span><b>Title:</b> {{movie.title}}</span>

            <span><b>Original title:</b>{{movie.original_title}}</span>
            <!-- ORIGINAL LANGUAGE FLAG -->
            <span>{{movie.original_language}}</span>
            <div class="lang-flag">
              <img :src="findFlag()" alt="Country language flag">
              <!-- {{findFlag()}} -->
            </div>

            <!-- VOTE AVERAGE STARS -->
            <span>{{Math.ceil(movie.vote_average / 2)}}</span>
            <div class="vote-stars">

              <i
              :class="
              [Math.ceil(movie.vote_average / 2) >= 1 ? 'voted-star' 'fas fa-star' : '']"
              >
              </i>

              <!-- <i class="far fa-star"></i> -->
              <!-- v-bind:class="[{ active: isActive }, errorClass] -->

            </div>

          </div>

        </section>

      </main>

      <!-- FOOTER -->
      <footer>
      </footer>


    </div>

    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
