<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="style.css">
    <title>BoolFlix</title>
  </head>
  <body>

    <div id="app">

      <!-- HEADER -->
      <header>
        <h1>Netflix</h1>
      </header>

      <!-- MAIN -->
      <main>

        <!-- SEARCH MOVIE OR SERIES -->
        <section>

          <input
          type="text"
          placeholder="Insert title"
          v-model="userQuery"
          v-on:keyup.enter="searchQuery()"
            >

          <input
          type="button"
          value="Search"
          @click="searchQuery()"
            >

        </section>

        <!-- MOVIES FOUND -->
        <section class="all-movies-container">

          <div
            class="movie-container"
            v-for="(match, index) in searchResults"
            >

            <ul>

              <li class="poster-img">
                <img :src="findPoster(index)" alt="">
                <!-- <img :src="findBackDrop(index)" alt=""> -->
              </li>

              <li>Title: {{match.title}}</li>

              <li>{{match.original_name}}</li>
              <li>{{match.original_title}}</li>

              <li>Language:
                <img :src="findFlag(index)" class="lang-flag"> {{match.original_language}}
              </li>

            </ul>

            <!-- VOTE AVERAGE STARS -->

            <div class="vote-stars">

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=1 ? 'fas fa-star' : 'far fa-star' ">
              </i>

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=2 ? 'fas fa-star' : 'far fa-star' ">
              </i>

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=3 ? 'fas fa-star' : 'far fa-star' ">
              </i>

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=4 ? 'fas fa-star' : 'far fa-star' ">
              </i>

              <i v-bind:class="Math.ceil(match.vote_average / 2) >=5 ? 'fas fa-star' : 'far fa-star' ">
              </i>

            </div>

          </div>

        </section>

      </main>
      <!-- FOOTER -->
      <footer>
      </footer>


    </div>

    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
