/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

/* HEADER */

header {
  max-height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

header img {
  max-width: 9%;
}

/* left navigation bar */

header .nav-left, .nav-right {
  width: 50%;
}

header .nav-left ul li  {
  display: inline-block;

}

header .nav-left ul li a {
  text-decoration: none;
  color: red;
}

/* right navigation bar */

header .nav-right ul li  {
  display: inline-block;

}

header .nav-right ul li a {
  text-decoration: none;
  color: red;
}













/* DEBUGGGGGGG */

body {
  background-color: salmon;
  text-align: center;
}

h1 {
  font-size: 2em;
}

/* MAIN */

.lang-flag img {
  max-width: 30px;
}

.all-movies-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  border: 1px solid black;
  width: calc(100% / 5);
  min-height: 150px;
  margin: auto;
  padding: 10px;
}

ul {
  list-style: none;
}

/* FLAG */

.lang-flag {
  max-height: 20px;
}

/* STARS */

.fas.fa-star {
  color: gold;
}

/* POSTER IMAGE */

.poster-img img {
  max-width: 100%;
}
