/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

/* DEBUGGGGGGG */

body {
  background-color: black;
}

/* END DEBUG */

/* HEADER */

header {
  max-height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

header .nav-left, .nav-right {
  width: 50%;
}

/* left navigation bar */

header .nav-left * {
  display: inline-block;
  color: white;
}

header .nav-left img {
  max-width: 15%;
}


header .nav-left ul li {
  display: inline-block;
}

a {
  text-decoration: none;,
}

ul {
  list-style: none;
}

/* right navigation bar */

header .nav-right * {
  display: inline-block;
}

header .nav-right img {
  max-width: 5%;
  border-radius: 3px;
}

header .nav-right a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.search-container {
  background-color: red;
  color: white;
}

.input-container {
  border-radius: solid 1px red;
  background-color:
}

/* MAIN: MOVIES & SHOWS SECTION */

.all-movies-container, .all-shows-container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 95vw;
  overflow-x: auto;
  margin: 0 auto;
  overflow-y: hidden;
  padding: 30px;
}

.movie-container, .shows-container {
  width: calc(100% / 5);
  height: 350px;
  position: relative;
  flex-shrink: 0;
  padding: 5px 1px;
}

/* INFO ON HOVER */

.title {
  color: grey;
  font-size: 1.3em;
  font-weight: bold;
}

.overview-container {
  display: none;
}

.show-info {
  display: inline-block;
}

.movie-info, .shows-info {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: linear-gradient(300deg, rgba(0,0,0,2) 10%, rgba(0,0,0,0.7) 10%);
}

.movie-container:hover, .shows-container:hover {
	transition: all 0.5s ease-in-out;
  transform: scale(1.2);
  z-index: 10;
}

.movie-container:hover .movie-info, .shows-container:hover .shows-info {
  display: inline-block;
}

/* OVERVIEW */

.overview-container {
  height: 100px;
  overflow: scroll;
}

/* POSTER IMAGE */

.poster-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* NO POSTER */

.no-poster {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* FLAG AND STAR */

.lang-flag {
  max-width: 15px;
}

.fas.fa-star {
  color: lightgrey;
}

.far.fa-star {
  color: grey;
}

/* OTHERS */

.section-title {
  font-size: 1.5em;
  color: white;
  margin-left: 30px;
  margin-top: 10px;

}


/* MOVIES SECTION */

.all-movies-container::-webkit-scrollbar {
  display: none;
}

/* TV SHOWS SECTION */

.all-shows-container::-webkit-scrollbar {
  display: none;
}

/* FOOTER */

footer {
  display: none;
  text-align: center;
  min-height: 8vh;
}

footer i {
  padding: 10px;
  font-size: 2em;
  color: lightgrey;
}
